<!-- modal -->
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="productName" class="col-sm-3 control-label">Product Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="productName"
                 ng-model="investment.productName">
        </div>
      </div>
      <div class="form-group">
        <label for="platform" class="col-sm-3 control-label">Platform</label>
        <div class="col-sm-9">
          <select class="form-control" id="platform"
                  ng-model="investment.platform" ng-options="p for p in platforms | orderBy: p"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
          <select class="form-control" id="type"
                  ng-model="investment.type" ng-options="t for t in types | orderBy: t"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="col-sm-3 control-label">Amount</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="amount"
                 ng-model="investment.amount">
        </div>
      </div>
      <div class="form-group">
        <label for="startDate" class="col-sm-3 control-label">Start Date</label>
        <div class="col-sm-9">
          <p class="input-group">
            <input type="text" class="form-control" id="startDate"
                   uib-datepicker-popup ng-model="investment.startDate"
                   is-open="popupStartDate.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close"
                   ng-click="openStartDate()"/>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="endDate" class="col-sm-3 control-label">End Date</label>
        <div class="col-sm-9">
          <p class="input-group">
            <input type="text" class="form-control" id="endDate"
                   uib-datepicker-popup ng-model="investment.endDate"
                   is-open="popupEndDate.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close" ng-click="openEndDate()"/>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="rate" class="col-sm-3 control-label">Rate(%)</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="rate"
                 ng-model="investment.rate" max="100">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delete()" ng-show="investment.id">
      Delete
    </button>
    <button class="btn btn-primary" type="button" ng-click="save()"
            ng-class="investment.rate > 0 &&
            investment.rate < 100 &&
            investment.amount > 0 &&
            investment.productName != '' &&
            investment.startDate != '' &&
            investment.endDate != '' ? 'false' : 'disabled'">Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<div id="investment">
  <div class="row">
    <div class="col-md-6">
      <p class="rc-title">Investment</p>
    </div>
  </div>
  <div class="table box martop">
    <table id="data-content">
      <thead>
      <tr id="order">
        <th ng-click="sortBy('productName')">
          Product Name
          <span ng-show="propertyName != 'productName'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'productName' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'productName' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th ng-click="sortBy('platform')">
          Platform
          <span ng-show="propertyName != 'platform'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'platform' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'platform' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th ng-click="sortBy('type')">
          Type
          <span ng-show="propertyName != 'type'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'type' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'type' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th ng-click="sortBy('startDate')">
          Start Date
          <span ng-show="propertyName != 'startDate'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'startDate' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'startDate' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th ng-click="sortBy('endDate')">
          End Date
          <span ng-show="propertyName != 'endDate'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'endDate' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'endDate' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th ng-click="sortBy('amount')">
          Amount
          <span ng-show="propertyName != 'amount'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'amount' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'amount' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th ng-click="sortBy('rate')">
          Rate(%)
          <span ng-show="propertyName != 'rate'"
                class="glyphicon glyphicon-sort"></span>
          <span ng-show="propertyName == 'rate' && !reverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="propertyName == 'rate' && reverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </th>
        <th>
          <button class="btn btn-primary" ng-click="new()">New</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="investment in investments |
            orderBy:propertyName:reverse |
            offset: currentPage*itemsPerPage |
            limitTo: itemsPerPage">
        <td>{{investment.productName}}</td>
        <td>{{investment.platform}}</td>
        <td>{{investment.type}}</td>
        <td>{{investment.startDate | date: 'yyyy-MM-dd'}}</td>
        <td>{{investment.endDate | date: 'yyyy-MM-dd'}}</td>
        <td>{{investment.amount}}</td>
        <td>{{investment.rate}}</td>
        <td>
          <button class="btn btn-primary" ng-click="edit(this.investment)">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination currentPage="0" itemsPerPage="6" itemsList="investments" pageList="5"></pagination>
  </div>
</div>
