<div class="row">
  <div class="col-md-6">
    <p class="rc-title">Credit Card</p>
  </div>
  <div class="col-md-6 save-btn">
    <button class="btn btn-primary" ng-click="save()">Save</button>
  </div>
</div>
<div class="table box martop">
  <table id="data-content">
    <thead>
    <tr id="order">
      <th>Bank</th>
      <th>Credit Limit</th>
      <th>Statement Date</th>
      <th>Repayment Date</th>
      <th>Balance</th>
      <th>
        <button class="btn btn-primary" ng-class="add ? 'disabled' : 'false'" ng-click="addUser()">Add</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="add" class="table-add">
      <td>
        <input type="text" class="form-control table-cell" ng-model="newCreditCard.bank">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="newCreditCard.creditLimit">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="newCreditCard.statementDate">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="newCreditCard.repaymentDate">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="newCreditCard.balance">
      </td>

    </tr>
    <tr ng-repeat="creditCard in creditCards">
      <td>
        <input type="text" class="form-control table-cell" ng-model="creditCard.bank">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="creditCard.creditLimit">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="creditCard.statementDate">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="creditCard.repaymentDate">
      </td>
      <td>
        <input type="text" class="form-control table-cell" ng-model="creditCard.balance">
      </td>
      <td>
        <button class="btn btn-primary" ng-click="delete(this.creditCard)">Del</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>