<div class="row">
  <div class="col-md-6">
    <p class="rc-title">用户管理</p>
  </div>
  <div class="col-md-6 save-btn">
    <button class="btn btn-primary" ng-click="save()">保存</button>
  </div>
</div>
<div class="table box martop">
  <table id="data-content">
    <thead>
    <tr id="order">
      <th style="padding-left: 20px;">用户名</th>
      <th style="padding-left: 20px;">密码</th>
      <th style="padding-left: 20px;">姓名</th>
      <th style="padding-left: 20px;">角色</th>
      <th>
        <button class="btn btn-primary" ng-class="add ? 'disabled' : 'false'" ng-click="addUser()">增加</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="add" class="add-user">
      <td>
        <input type="text" class="form-control user-cell" ng-model="newUser.username">
      </td>
      <td>
        <input type="text" class="form-control user-cell" ng-model="newUser.password">
      </td>
      <td>
        <input type="text" class="form-control user-cell" ng-model="newUser.name">
      </td>
      <td>
        <select class="form-control user-cell" ng-model="newUser.role">
          <option value="admin">管理员</option>
          <option value="investor">投资者</option>
        </select>
      </td>
    </tr>
    <tr ng-repeat="user in users">
      <td>
        <input type="text" class="form-control user-cell" ng-model="user.username">
      </td>
      <td>
        <input type="text" class="form-control user-cell" ng-model="user.password">
      </td>
      <td>
        <input type="text" class="form-control user-cell" ng-model="user.name">
      </td>
      <td>
        <select id="role" class="form-control user-cell" ng-model="user.role">
          <option value="admin">管理员</option>
          <option value="investor">投资者</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary" ng-click="delete(this.user)">删除</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>